<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Room Booking Confirmation</title>
</head>
<body>
  <h1>Room Booking Confirmation</h1>

  <b>Booking Confirmation ID: </b><span th:text="${customerDetails.bookingId}"></span><br />
  <b>Customer name: </b><span th:text="${customerDetails.customerName}"></span><br />
  <b>Email ID: </b><span th:text="${customerDetails.email}"></span><br />
  <b>Phone number: </b><span th:text="${customerDetails.phoneNumber}"></span><br />
  <b>Booked Room: </b><span th:text="${customerDetails.selectedRoom}"></span><br />
  <b>Booked Date: </b><span th:text="${customerDetails.bookedDate}"></span><br />

</body>
</html>