<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Payment for Table Reservation</title>
    </head>
    <body>
    <h1>Payment for Table Reservation</h1>
    <form method="post" th:action="@{/payment}" th:object="${paymentForm}">

       <input type="text" name="paymentForm.cardNumber" th:field="${paymentForm.cardNumber}" />
        <input type="text" name="paymentForm.cvv" th:field="${paymentForm.cvv}" />
        <input type="text" name="paymentForm.cardExpiryDate" th:field="${paymentForm.cardExpiryDate}" />
        <input type="text" name="paymentForm.customerName" th:field="${paymentForm.customerName}" />

    </form>
    </body>
</html>