<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book a Venue</title>

</head>
<body>
<h1>Book a Venue</h1>

<form method="post" th:action="@{/get-timeslots}" th:object="${availableVenuesForm}">
    <table>
        <tr>
            <td>Enter Customer name: </td>
            <td><input type="text" name="availableVenuesForm.customerName" th:field="${availableVenuesForm.customerName}" /></td>
        </tr>
        <tr>
            <td>Enter email:</td>
            <td><input type="text" name="availableVenuesForm.email" th:field="${availableVenuesForm.email}" /></td>
        </tr>
        <tr>
            <td>Enter phone number:</td>
            <td><input type="text" name="availableVenuesForm.phoneNumber" th:field="${availableVenuesForm.phoneNumber}" /></td>
        </tr>
        <tr th:each="availableVenue: ${availableVenues}">
            <td th:text="${availableVenue.name}"></td>
            <td><input type="radio" name="selectedVenue" th:field="${availableVenuesForm.selectedVenue}" th:value="${availableVenue.id}"></td>
        </tr>
    </table>
    <input type="submit" />
</form>
</body>
</html>