<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Payment for Table Reservation</title>
    </head>
    <body>
    <h1>Payment for Table Reservation</h1>
    <form method="post" th:action="@{/payment}" th:object="${paymentForm}">
        <table>
            <tr>
                <td>Enter Customer name:</td>
                <td><input type="text" name="paymentForm.customerName" th:field="${paymentForm.customerName}" /></td>
            </tr>
            <tr>
                <td>Enter Card number:</td>
                <td><input type="text" name="paymentForm.cardNumber" th:field="${paymentForm.cardNumber}" /></td>
            </tr>
            <tr>
                <td>Enter CVV:</td>
                <td><input type="text" name="paymentForm.cvv" th:field="${paymentForm.cvv}" /></td>
            </tr>
            <tr>
                <td>Enter Card Expiry date:</td>
                <td><input type="text" name="paymentForm.cardExpiryDate" th:field="${paymentForm.cardExpiryDate}" /></td>
            </tr>
            <tr>
                <td>Amount to be paid: $20</td>
            </tr>
        </table>
        <input type="submit" />
    </form>
    </body>
</html>